.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: blue;
}

body
{
    background-size: cover;
}

#song_name
{
    font-size: 23px;
    margin: 15px;
}

canvas
{
    border: 5px solid blue;
    border-radius: 20px;
}